:root{
    --nav-color: rgb(0, 4, 19);
    --high-light-color: rgb(150, 215, 235);
    --font-color: rgb(242, 228, 249);
    --background-body-color: rgb(131, 156, 181);
    --background-html-color: rgb(242, 228, 249);
    --background-contenedor-principal-color: rgb(158, 188, 219);
    --gris-fondo: rgb(23, 23, 23);
    --gris-claro-fondo: rgb(175, 175, 175);
}

body, html{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: var(--font-color);
    background-color: var(--background-html-color);
}






/*
    MENU-MOVIL
*/

/* HEADER Y NAV */
.menu-header{
    display: none;
}
.menu-movil-header{
    position: fixed;
}
.menu-movil-header, .menu-movil-header nav{
    width: 100%;
    background-color: var(--nav-color);
}
.menu-movil-header nav{
    height: 100px;
    box-shadow: 1px 1px 10px #000;
    z-index: 9;
}
.menu-movil-header nav div:nth-child(1){
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

/* LOGO */
#logo-menu-movil{
    display: block;
        columns: 1 / 2;
}
#logo-menu-movil img{
    height: 100px;
}

/* TITLE */
.menu-movil-header nav div div:nth-child(2){
    columns: 2 / 3;
}
.menu-movil-header h1{
    margin: 0 50px;
    font-size: 7vw;
}

/* DESPLEGABLE BUT*/
#icono-despl-menu-movil{
    columns: 3 / 4;
    width: 5%;
    height: auto;
}

/* DESPLEGABLE */
#despl-menu-movil{
    background-color: var(--nav-color);
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
}
#despl-menu-movil ul{
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#despl-menu-movil a{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 2vw;
    width: 100%;
    font-size: 24px;
    text-decoration: none;
    color: var(--font-color);
}
#despl-menu-movil i{
    margin-right: 8px;
}

/*
    CONTENEDOR PRINCIPAL
*/
#contenedor-principal{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--gris-claro-fondo);
}

#github-button{
    box-shadow: 1px 1px 10px #000;
    z-index: 9;
    color: var(--font-color);
    position: fixed;
    height: 50px;
    width: 50px;
    transform: translateY(115px);
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 14px 14px 0;
}
.aside_izq{
    position: fixed;
    transform: translateX(-100%);
    z-index: 8;
    margin-top: 100px;
    width: 65%;
    background-color: var(--nav-color);
}
.aside_izq img{
    width: 50px; /*+++++++++++++*/
}
.main{
    width: 80%;
    margin-top: 100px;
    padding: 0 2rem;
    justify-self: center;
    background-color: var(--gris-fondo);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#categorias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    background-color: var(--nav-color);
}
#categorias figure{
    margin: 0; 
}
#categorias figcaption{
    padding: 10px 0;
    text-align: center;
    color: var(--font-color);
}
#categorias img{
    width: 100%;
}
#separacion1{
    height: 50px;
    background-color: var(--nav-color);
}
#separacion2{
    height: 20px;
    background-color: var(--nav-color);
}
#section2 article{
    color: var(--nav-color);
    background-color: var(--gris-claro-fondo);
    padding: 1rem;
    font-size: 20px;
}
#section3 img, #section4 img{
    width: 100%;
    background-color: var(--nav-color);
}
#section3 p, #section4 p{
    padding: 1rem 2rem;
    color: var(--font-color);
    background-color: var(--nav-color);
    margin: 0pc;
}
footer{
    grid-column: 1/-1;
    height: 25px;
    background-color: var(--nav-color);
}
footer p{
    font-size: 15px;
    color: var(--font-color);
    margin: 5px;
    text-align: center;
}

/*
    MEDIA QUERIES
*/
/*-------------PC GRANDE-----------------------*/
@media screen and (min-width: 1200px){
    
}

/*-------------PC PEQUEÑO-----------------------*/
@media screen and (min-width: 992px){
    /* MENU */
    .menu-header, .menu-header nav{
        background-color: var(--nav-color);
    }
    .menu-header{
        position: fixed;
        top: 0;
        box-shadow: 1px 1px 10px #000;
        z-index: 9;
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .menu-header a{
        color: var(--font-color);
        text-decoration: none;
        font-size: 0.9em;
    }
    /* LOGO */
    .logo_div, .logo_div a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_div a{
        height: 100%;
    }
    .logo_div a h1{
        color: var(--font-color);
        width: 100px;
        font-weight: bolder;
        font-size: 1rem;
    }
    .logo_nav{
        border-radius: 50%;
        width: 50px;
        height: auto;
    }
    .menu-header ul{
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .menu-header ul li a{
        font-weight: 550;
    }
    .btn_contacto{
        font-weight: 700;
    }
    .menu-header ul li a, .btn_contacto{
        padding: 0px 15px;
        height: 60px;   
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-header ul li a:hover{
        color: var(--nav-color);
        background-color: var(--high-light-color);
    }
    .btn_contacto:hover{
        color: var(--nav-color);
        background-color: var(--high-light-color);
    }
    .menu-header i{
        margin-right: 7px;
    }
    /* MENU MOVIL*/
    .menu-movil-header{
        display: none;
    }
    
    /* CONTENEDOR PRINCIPAL */
    #contenedor-principal{
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-row: auto;
    }

    /* ASIDE */
    #github-button{
        display: none;
    }
    .aside_izq{
        display: none;
        position: inherit;
        grid-column: 1/2;
        width: 100%;
        transform: translateX(0);
    }

    /* MAIN */
    .main{
        margin: 0;
        padding: 0;
        grid-column: 2/3;
    }
    #section1{
        background-color: var(--nav-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        width: 60%;
    }
    .categoria{
        transition: all 0.1s ease-in;
    }
    .categoria:hover{
        transform: scale(1.05);
    }
}

/*----------------TABLET-----------------------*/
@media screen and (min-width: 768px) and (max-width: 991px){
    
}

/*----------------MOVIL GRANDE-----------------------*/
@media screen and (min-width: 546px) and (max-width: 991px){
    .menu-movil-header, .menu-movil-header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .menu-movil-header nav div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    }
    #logo-menu-movil {
    width: 20%;
    }
    .menu-movil-header h1{
    margin: 0 20px;
    font-size: 42px;
    }
    #despl-menu-movil a{
        
        font-size: 20px;
    }
    #icono-despl-menu-movil{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}



